<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xdtic.projpool.dao.UserMapper">
    
    <resultMap id="BaseResultMap" type="User">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="username" jdbcType="VARCHAR" property="username" />
        <result column="password" jdbcType="CHAR" property="password" />
        <result column="gender" jdbcType="CHAR" property="gender" />
        <result column="email" jdbcType="VARCHAR" property="email" />
        <result column="phone" jdbcType="CHAR" property="phone" />
        <result column="realname" jdbcType="VARCHAR" property="realname" />
        <result column="nickname" jdbcType="VARCHAR" property="nickname" />
        <result column="stu_num" jdbcType="CHAR" property="stuNum" />
        <result column="major" jdbcType="VARCHAR" property="major" />
        <result column="skill" jdbcType="VARCHAR" property="skill" />
        <result column="experience" jdbcType="VARCHAR" property="experience" />
    </resultMap>
  
    <delete id="deleteUser" parameterType="Integer">
        DELETE FROM user
        WHERE id = #{id,jdbcType=INTEGER}
    </delete>
    
    <delete id="deleteUsers">
        DELETE FROM user WHERE id IN 
        <foreach collection="list" item="uid" separator="," open="(" close=")">
            #{uid}
        </foreach>
    </delete>

    <insert id="addUser">
        INSERT INTO user SET username = #{arg0}, password = MD5(#{arg1})
    </insert>
  
    <update id="updateUser" parameterType="User">
        UPDATE user 
        SET username = #{username,jdbcType=VARCHAR},
        gender = #{gender,jdbcType=CHAR},
        email = #{email,jdbcType=VARCHAR},
        phone = #{phone,jdbcType=CHAR},
        realname = #{realname,jdbcType=VARCHAR},
        nickname = #{nickname,jdbcType=VARCHAR},
        stu_num = #{stuNum,jdbcType=CHAR},
        major = #{major,jdbcType=VARCHAR},
        skill = #{skill,jdbcType=VARCHAR},
        experience = #{experience,jdbcType=VARCHAR}
        WHERE id = #{id,jdbcType=INTEGER}
    </update>
    
    <update id="updatePassword">
        UPDATE user 
        SET password = MD5(#{arg2}) 
        WHERE username = #{arg0} AND password = #{arg1}
    </update>
  
    <select id="getUserById" parameterType="Integer" resultMap="BaseResultMap">
        SELECT id, username, password, gender, email, phone,  
        realname, nickname, stu_num, major, skill, experience
        FROM user WHERE id = #{id,jdbcType=INTEGER}
    </select>
    
    <select id="getUser" resultMap="BaseResultMap">
        SELECT id, username, password, gender, email, phone,  
        realname, nickname, stu_num, major, skill, experience
        FROM user WHERE username = #{arg0} AND password = #{arg1}
    </select>
    
    <select id="getUserIdByUsername" parameterType="String" resultType="Integer">
        SELECT id FROM user u WHERE u.username = #{arg0}
    </select>
    
    <select id="getUsernameById" parameterType="Integer" resultType="String">
        SELECT username FROM user u WHERE u.id = #{arg0}
    </select>
    
    <select id="getUserIdByEmail" parameterType="String" resultType="Integer">
        SELECT id FROM user u WHERE u.username = #{arg0}
    </select>
    
    <select id="getUserIdByPhone" parameterType="String" resultType="Integer">
        SELECT id FROM user u WHERE u.username = #{arg0}
    </select>
    
    <select id="countUsers" parameterType="String" resultType="Long">
        SELECT COUNT(*) FROM user WHERE ${condition}
    </select>
    
    <select id="getUsers" parameterType="String" resultMap="BaseResultMap">
        SELECT id, username, password, gender, email, phone, 
        realname, nickname, stu_num, major, skill, experience
        FROM user WHERE ${condition}
    </select>
    
    <select id="getCollectedProIds" parameterType="Integer" resultType="Integer">
        SELECT ps.pro_id FROM project_star ps WHERE ps.user_id = #{arg0}
    </select>
    
</mapper>