.tic-header-three-center .tic-title-main {
  font-size: 1.5rem;
}

.tic-header-three-center .tic-title-secondary {
  font-size: .8rem;
  color: #999999;
}

.tic-header-three-center .tic-title-secondary > span {
  padding-right: .3rem;
}
