.tic-article {
  padding: 1rem;
}

.tic-article .tic-article-header {
  overflow: hidden;
}

.tic-article .tic-article-header .tic-article-header-left {
  display: inline-block;
  float: left;
  width: 23.438%;
}

.tic-article .tic-article-header .tic-article-header-left img {
  max-width: 100%;
}

.tic-article .tic-article-header .tic-article-header-center {
  display: inline-block;
  float: left;
  margin-left: .5rem;
}

.tic-article .tic-article-header .tic-article-header-right {
  float: right;
  display: inline-block;
  padding: 1rem 0;
}

.tic-article .tic-title-strong {
  font-size: 1.5rem;
  color: #088fd9;
}

.tic-article .tic-title-secondary {
  font-size: .8rem;
  color: #999999;
}

.tic-article .tic-title-em {
  color: #088fd9;
}
