.tic-avatar {
  position: relative;
}

.tic-avatar .avatar {
  position: absolute;
  width: 75px;
  bottom: -50px;
  right: 5%;
  border-radius: 50%;
  text-align: center;
}

.tic-avatar .avatar img {
  max-width: 100%;
}

.tic-avatar .bg {
  height: 200px;
}

.tic-avatar .bg > img {
  max-width: 100%;
  height: 200px;
}

.tic-four-grid {
  display: flex;
  flex-flow: row wrap;
  padding: 4rem 1.25rem 1rem;
}

.tic-four-grid .grid {
  flex: 0 0 50%;
  text-align: center;
  padding: 1rem 0;
  display: block;
  box-sizing: border-box;
}

.tic-four-grid .grid.notice {
  position: relative;
}

.tic-four-grid .grid.notice::before {
  content: "";
  position: absolute;
  background-color: red;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  right: 34.714%;
}

.tic-four-grid .grid:nth-child(1) {
  border-right: 1px solid #ccc4c4;
  border-bottom: 1px solid #ccc4c4;
}

.tic-four-grid .grid:nth-child(2) {
  border-bottom: 1px solid #ccc4c4;
}

.tic-four-grid .grid:nth-child(3) {
  border-right: 1px solid #ccc4c4;
}

.tic-nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #ffffff;
  border-top: solid 1px #ccc4c4;
}

.tic-nav > div {
  flex: 1 0 33.333%;
  text-align: center;
  padding: 0.5rem 0 0;
}

body {
  padding-bottom: 70px;
}
