@charset "UTF-8";
/*reset*/
div {
  box-sizing: border-box;
}

a {
  color: #000000;
  text-decoration: none;
}

textarea {
  outline: none;
  resize: none;
}

/*页面header布局，eg：profile.jsp*/
.tic-header-three {
  border-bottom: solid 1px #ccc4c4;
  background: #f8f8f8;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.tic-header-three > span {
  flex: 0 1 10%;
  padding: .8rem .5rem;
  box-sizing: border-box;
}

.tic-header-three > h2 {
  flex: 0 0 80%;
  text-align: center;
  box-sizing: border-box;
  padding: .8rem 0;
}
