.tic-detail-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #edebf7;
  padding: 1rem 0;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.tic-detail-footer > a {
  flex: 1 1 50%;
  box-sizing: border-box;
  text-align: center;
  border-right: solid 1px #ccc4c4;
}

.tic-detail-footer > a > img {
  max-width: 100%;
}

.tic-detail-footer > a:last-child {
  border: none;
}
