.tic-detail-footer, .tic-detail-footer2 {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #edebf7;
  padding: 1rem 0;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.tic-detail-footer > a, .tic-detail-footer2 > a {
  flex: 1 1 50%;
  box-sizing: border-box;
  text-align: center;
  border-right: solid 1px #ccc4c4;
}

.tic-detail-footer > a > span, .tic-detail-footer2 > a > span {
  color: #1e90ff;
  font-size: 1.8em;
  vertical-align: middle;
  margin-left: .5em;
}

.tic-detail-footer > a > img, .tic-detail-footer2 > a > img {
  max-width: 100%;
  vertical-align: middle;
}

.tic-detail-footer > a:last-child, .tic-detail-footer2 > a:last-child {
  border: none;
}

.tic-detail-footer2 {
  border: none;
  background-color: transparent;
}
