.tic-article .tic-article-header {
  overflow: hidden;
  padding: .5rem 1rem;
}

.tic-article .tic-article-header .tic-article-header-left {
  display: inline-block;
  float: left;
  width: 23.438%;
}

.tic-article .tic-article-header .tic-article-header-left img {
  max-width: 100%;
}

.tic-article .tic-article-header .tic-article-header-center {
  display: inline-block;
  float: left;
  margin-left: .5rem;
}

.tic-article .tic-article-header .tic-article-header-right {
  float: right;
  display: inline-block;
  padding: 1rem 0;
}

.tic-article .tic-title-strong {
  font-size: 1.5rem;
  color: #088fd9;
}

.tic-article .tic-title-secondary {
  font-size: .8rem;
  color: #999999;
}

.tic-article .tic-title-em {
  color: #088fd9;
}

.tic-cells-title {
  color: #088fd9;
  font-size: 1.5rem;
}

/*reset*/
.tic-cells-nomargin {
  margin-top: 0;
}

.weui-btn_primary {
  background-color: #2b9ddc;
}

.weui-btn_primary:not(.weui-btn_disabled):active {
  color: rgba(255, 255, 255, 0.6);
  background-color: #237cad;
}

.tic-header-three > .tic-header-three-aside:nth-child(3) {
  visibility: hidden;
}
