/*reset weui*/
.weui-media-box_appmsg {
  align-items: flex-start;
}

.weui-panel__bd .weui-media-box__title {
  font-size: 1.25rem;
  color: #088fd9;
}

.weui-panel__bd .weui-media-box__title .tic-collect {
  float: right;
}

.weui-panel__bd .weui-media-box__desc {
  color: #000000;
  font-size: 1rem;
  line-height: 1.8;
}

.weui-panel__bd .tic-media-box__label {
  font-size: .8rem;
  color: #999999;
  padding-bottom: .4rem;
}

.weui-panel__bd .tic-media-box__label > span {
  padding-right: .525rem;
}

.weui-panel__bd .tic-media-box__footer {
  text-align: right;
  padding-top: .525rem;
}

.weui-panel__bd .tic-media-box__footer .tic-strong {
  color: #088fd9;
  padding-right: .525rem;
}

.weui-panel__bd .tic-media-box__footer .tic-secondary {
  font-size: .8rem;
  color: #999999;
  padding-right: .525rem;
}

.tic-hot::after {
  content: "HOT";
  font-size: 1rem;
  vertical-align: top;
  color: #ff3333;
  font-weight: 600;
  padding-left: .4rem;
}

.tic-header-hall {
  text-align: center;
}

.tic-header-hall > img {
  padding-top: .4rem;
}
