/*reset weui*/
.weui-media-box_appmsg {
  align-items: flex-start;
}

.weui-panel__bd .weui-media-box__title {
  font-size: 1.25rem;
  color: #088fd9;
}

.weui-panel__bd .weui-media-box__title .tic-collect {
  float: right;
}

.weui-panel__bd .weui-media-box__desc {
  color: #000000;
  font-size: 1rem;
  line-height: 1.8;
}

.weui-panel__bd .tic-media-box__label {
  font-size: .8rem;
  color: #999999;
  padding-bottom: .4rem;
}

.weui-panel__bd .tic-media-box__label > span {
  padding-right: .525rem;
}

.weui-panel__bd .tic-media-box__footer {
  text-align: right;
  padding-top: .525rem;
}

.weui-panel__bd .tic-media-box__footer .tic-strong {
  color: #088fd9;
  padding-right: .525rem;
}

.weui-panel__bd .tic-media-box__footer .tic-secondary {
  font-size: .8rem;
  color: #999999;
  padding-right: .525rem;
}

/*reset*/
.tic-header-three > h2 {
  flex-basis: 40%;
}

.tic-header-three > span, .tic-header-three > a {
  flex-basis: 30%;
}

.tic-header-three img {
  max-width: 100%;
}

.tic-nav-header {
  flex-flow: row nowrap;
  display: flex;
  justify-content: sapce-betwwen;
  align-items: center;
  background: #f3f3f3;
}

.tic-nav-header > a {
  flex: 1 1 33.333%;
  display: inline-block;
  padding: .425rem .5rem;
  border-right: solid 1px #ccc4c4;
  text-align: center;
}

.tic-nav-header > a:last-child {
  border: none;
}

.tic-nav-current {
  color: #088fd9;
  font-weight: 700;
}

.tic-float-left {
  float: left;
  padding-top: .3rem;
}
