.tic-form input[type=text],
.tic-form input[type=password],
.tic-form input[type=email],
.tic-form input[type=url],
.tic-form input[type=date],
.tic-form input[type=month],
.tic-form input[type=time],
.tic-form input[type=datetime],
.tic-form input[type=datetime-local],
.tic-form input[type=week],
.tic-form input[type=number],
.tic-form input[type=search],
.tic-form input[type=tel],
.tic-form input[type=color],
.tic-form select,
.tic-form textarea {
  padding: .5em .6em;
  display: inline-block;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 3px #ddd;
  border-radius: 4px;
  vertical-align: middle;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: .3rem 0;
}

.tic-form input[type="text"]:focus,
.tic-form input[type="password"]:focus,
.tic-form input[type="email"]:focus,
.tic-form input[type="url"]:focus,
.tic-form input[type="date"]:focus,
.tic-form input[type="month"]:focus,
.tic-form input[type="time"]:focus,
.tic-form input[type="datetime"]:focus,
.tic-form input[type="datetime-local"]:focus,
.tic-form input[type="week"]:focus,
.tic-form input[type="number"]:focus,
.tic-form input[type="search"]:focus,
.tic-form input[type="tel"]:focus,
.tic-form input[type="color"]:focus,
.tic-form select:focus,
.tic-form textarea:focus {
  outline: 0;
  border-color: #129FEA;
}

.tic-form .tic-field {
  text-align: center;
}

hr {
  border: none;
  border-bottom: dotted 2px #ccc4c4;
  margin: 2rem 0;
}

.tic-tag-box {
  text-align: center;
}

.tic-tag-box .tic-tag-fn {
  padding: .5rem 0;
  font-size: .9rem;
  position: relative;
}

.tic-tag-box .tic-tag-fn::after {
  content: '';
  background-image: url(/xdtic/static/images/arrow_carrot-up.png);
  display: inline-block;
  width: 1.9rem;
  height: 1.9rem;
  background-size: 1.9rem;
  vertical-align: bottom;
}

.tic-tag-box .tic-tag-fn.tic-tag-fn-fold::after {
  background-image: url("/xdtic/static/images/arrow_carrot-down.png");
}

.tic-tag-box .tic-tag-content, .tic-tag-box .tic-tag-content-selected {
  padding: .5rem;
}

.tic-tag-box .tic-tag {
  border-radius: .28571429rem;
  border: 1px solid rgba(34, 36, 38, 0.15);
  padding: .4em .833em;
  text-align: center;
  line-height: 1;
  vertical-align: baseline;
  font-size: .85714286rem;
  font-weight: 500;
  display: inline-block;
  margin: .25rem .5rem;
}

.tic-tag-box .tic-tag-selected {
  color: #1AAD19;
  border-color: #1AAD19;
}

.tic-cells-title {
  color: #1AAD19;
  font-size: 1.5rem;
}
