.tic-form input[type=text],
.tic-form input[type=password],
.tic-form input[type=email],
.tic-form input[type=url],
.tic-form input[type=date],
.tic-form input[type=month],
.tic-form input[type=time],
.tic-form input[type=datetime],
.tic-form input[type=datetime-local],
.tic-form input[type=week],
.tic-form input[type=number],
.tic-form input[type=search],
.tic-form input[type=tel],
.tic-form input[type=color],
.tic-form select,
.tic-form textarea {
  padding: .5em .6em;
  display: inline-block;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 3px #ddd;
  border-radius: 4px;
  vertical-align: middle;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: .3rem 0;
  width: 100%;
}

.tic-form input[type="text"]:focus,
.tic-form input[type="password"]:focus,
.tic-form input[type="email"]:focus,
.tic-form input[type="url"]:focus,
.tic-form input[type="date"]:focus,
.tic-form input[type="month"]:focus,
.tic-form input[type="time"]:focus,
.tic-form input[type="datetime"]:focus,
.tic-form input[type="datetime-local"]:focus,
.tic-form input[type="week"]:focus,
.tic-form input[type="number"]:focus,
.tic-form input[type="search"]:focus,
.tic-form input[type="tel"]:focus,
.tic-form input[type="color"]:focus,
.tic-form select:focus,
.tic-form textarea:focus {
  outline: 0;
  border-color: #129FEA;
}

.tic-form .tic-field {
  text-align: center;
}

/*reset we-ui-cell*/
.weui-cell {
  display: inline-flex;
}

.weui-btn_primary {
  background-color: #faa147;
}

.weui-btn_primary:not(.weui-btn_disabled):active {
  color: rgba(255, 255, 255, 0.6);
  background-color: #dc8d3d;
}

.tic-table .tic-tr-two {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.tic-table .tic-tr-two .tic-td-label {
  flex: 0 0 30%;
  text-align: center;
  padding: .5rem;
  box-sizing: border-box;
  border-right: solid 1px #ccc4c4;
}

.tic-table .tic-tr-two .tic-td-content {
  flex: 0 0 70%;
  padding: 1rem;
  box-sizing: border-box;
}

.tic-table .tic-tr-two .tic-td-content > input.tic-error-input {
  border-color: #f05979;
}

.tic-table-head {
  padding: .8rem .5rem;
}

.tic-table-head > h2 {
  padding: .8rem 0;
}

.tic-table-head > p {
  font-size: .8rem;
  padding: .8rem 0;
  color: #6495ed;
}

.tic-form-error {
  padding: 1rem;
  color: #f05979;
}

/*reset*/
.tic-cells-nomargin {
  margin-top: 0;
}

.weui-btn_primary {
  background-color: #2b9ddc;
}

.weui-btn_primary:not(.weui-btn_disabled):active {
  color: rgba(255, 255, 255, 0.6);
  background-color: #237cad;
}

.tic-header-three > .tic-header-three-aside:nth-child(3) {
  visibility: hidden;
}
