.tic-header-three-center .tic-title-main {
  font-size: 1.5rem;
}

.tic-header-three-center .tic-title-secondary {
  font-size: .8rem;
  color: #999999;
}

.tic-header-three-center .tic-title-secondary > span {
  padding-right: .3rem;
}

.tic-header-three {
  justify-content: center;
}

.tic-header-three > .tic-header-three-aside {
  display: none;
}

.tic-header-three > .tic-header-three-aside {
  display: none;
}

.tic-header-three > .tic-header-three-center {
  flex-basis: 50%;
}

#app .tic-menu-top {
  display: none;
}

.tic-buttons {
  width: 100%;
  position: fixed;
  bottom: 0;
}
