a.tic-project-wrap {
  display: block;
}

.project-item {
  transition: transform .5s ease, visibility .5s ease .5s;
}

.project-item.project-slide {
  transform: translate3d(-150%, 0, 0);
  visibility: hidden;
}

.project-item.project-slide-end {
  display: none;
}
