a.tic-project-wrap {
  display: block;
}

.project-item {
  transition: transform .5s ease, opacity .5s ease;
  opacity: 1;
}

.project-item.project-slide {
  transform: translate3d(-150%, 0, 0);
  opacity: 0;
}
